body {
    background-color: black;
    color: wheat;
    text-align: center;
}

h1 {
    color: wheat;
    text-align: center;
}

p {
    color: wheat
}

button {
    font-style: italic;
    color: wheat;
    background-color: black;
}

img.gallery {
    border: 3px solid wheat;
    width: 25%;
    height: auto;
}

.gap {
    padding: 5px;
}

.bigGap {
    padding: 25px;
}