
body {
    background-color: black;
    color: white;
    text-align: center;
}

h1 {
    color: wheat;
    text-align: center;
}

p {
    color: wheat
}

button {
    font-style: italic;
    color: wheat;
    background-color: black;
}

img.border {
    border: 3px solid wheat;
}

.gap {
    padding: 5px;
}